@font-face {
    font-weight: 600;
    font-family: "MontserratSemiBold";
    font-style: normal;
    src: url("./Montserrat-SemiBold.ttf") format("truetype")
}

@font-face {
    font-weight: 400;
    font-family: "MontserratRegular";
    font-style: normal;
    src: url("./Montserrat-Regular.ttf") format("truetype")
}