//colors

$white: #fff;
$white-primary: #e4e4e4;
$green: #4fe24a;
$blue: #005BFF;
$dark-grey: #424242;

//background

$primary-background: #fdf0e9;
$header-background: #28293e;
$header-card: #b3a097;

// box-shadow

$shadow: 0 0 7px rgba(0,0,0,0.3);